.main {
  height: 768px;
}

.categorias {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
}

.jogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.display {
  display: inline-block;
  
}

.btn {
  border-radius: 50%;
  padding: 0;
  margin-left: 20px;
}