<div class="linguagens">
    <button type="button" class="btn btn-light" (click)="selecionarIdioma('es-es')"><img src="../../../assets/main/espanha.png" alt="Bandeira da Espanha"></button> ES 
    <button type="button" class="btn btn-light ml-3" (click)="selecionarIdioma('en-us')"><img src="../../../assets/main/eua.png" alt="Bandeira dos EUA"></button> EN 
    <button type="button" class="btn btn-light ml-3" (click)="selecionarIdioma('pt-br')"><img src="../../../assets/main/brasil.jpg" alt="Bandeira do Brasil"></button> PT 
</div>