.bg {
  background-color: #f8f9fa;
  background-image: url('../../../assets/main/bg.png');
  background-repeat: no-repeat;
  width: 1366px;
  height: 300px;
  position: absolute;
  top: 0;
}

.container-fluid {
  padding: 0;
}

.linguagens {
  position: absolute;
  right: 7em;
  top: 10px;
}

.linguagens img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.linguagens button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}